[alias]
    git = !git
    l = log --graph --decorate --format=format:\"%C(bold blue)%h%C(reset) %C(dim italic cyan)%ah%C(reset) %C(dim white)%aN%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset) %C(italic dim white)%GS%C(reset)%n %C(white)%s%C(reset)\"
    ll = !git l --all
    lll = !git ll $(git rev-list -g --all)
    lo = !git l --oneline
    llo = !git ll --oneline
    lllo = !git lll --oneline
    p = push
    pp = push --force-with-lease
    ppp = push --force
    pa = push --all
    ppa = push --force-with-lease --all
    pppa = push --force --all
    take = pull
    f = fetch
    fa = fetch --all
    b = branch
    br = branch -d
    brr = branch -D
    bm = branch -M
    s = status
    a = add -u
    aa = add -u .
    aaa = add -u ..
    au = add
    aau = add .
    aaau = add ..
    ai = add -i
    ap = add -p
    d = diff
    dd = diff --staged
    done = show --stat
    ddone = diff --stat
    dddone = diff --stat --staged
    c = commit
    cc = commit -m
    ca = commit --amend
    co = checkout
    cob = checkout -b
    cod = checkout --detach
    che = cherry-pick
    chea = cherry-pick --abort
    chec = cherry-pick --continue
    me = merge --no-ff
    mea = merge --abort
    mec = merge --continue
    meff = merge --ff-only
    mb = merge-base
    su = submodule
    sud = submodule deinit --force --all
    sus = submodule status --recursive
    sui = submodule init --recursive
    suu = submodule update --init --recursive
    re = rebase
    rei = rebase --no-gpg-sign -i
    reo = rebase --no-gpg-sign --onto
    reio = rebase --no-gpg-sign -i --onto
    reoi = rebase --no-gpg-sign -i --onto
    rea = rebase --abort
    rec = rebase --continue
    reskip = rebase --skip
    retodo = rebase --edit-todo
    resoft = reset --soft
    rehard = reset --hard
    st = stash
    sta = stash pop
    stnu = stash drop
[core]
    editor = nvim
    pager = delta
[init]
    defaultBranch = main
[user]
    name = Yuki Sireneva
    email = yuki.utk8g@gmail.com
    signingkey = /home/yuki/.ssh/id_ed25519.pub
[interactive]
    diffFilter = delta --color-only
[delta]
    pager = less -+X
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    right-arrow = ->
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[gpg]
    format = ssh
[commit]
    gpgsign = true
[tag]
    gpgsign = true
[gpg "ssh"]
    allowedsignersfile = /home/yuki/.config/git/allowed_signers
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[rerere]
    enabled = true
