ngrok/
fcitx/
ibus/
pavucontrol.ini
QtProject.conf
pulse/
mozc/
rncbc.org/
ipython/
docker/
kolourpaintrc
kritadisplayrc
kritarc
mpop/
msmtp/
keepassxc/
wireshark/
libreoffice/
okularrc
okularpartrc
.gsd-keyboard.settings-ported
