* {
    all: unset;
    font-family: Fantasque Sans Mono;
    font-size: 16px;
    margin: .1em;
}

.window, tooltip {
    background-color: #0f0f17;
    border-radius: 1em;
    margin: .25em;
    opacity: .9;
}

tooltip label {
    margin: 0.5em;
}


.spaced {
    margin-left: .3em;
    margin-right: .3em;
}

.clock_date {
    font-size: .9em;
    padding-top: .05em;
}

.keyboard, .winclass {
    color: #e0b089;
}

.circle_bar {
    background-color: #38384d;
    color: #38384d;
    border-radius: 1em;
}

.icon {
    font-size: 10px;
    color: #00cc00;
}

.brightness {
    color: #e4c9af;
}

.memory {
    color: #e0b089;
}

.battery {
    color: #afbea2;
}

.volume {
    color: #a1bdce;
}

.cpu {
    color: #61da76;
}

.wifi, .clock_date {
    color: #d7beda;
}

.brightness_slider trough highlight {
    background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
}

.volume_slider trough highlight {
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
}

scale trough {
    all: unset;
    background-color: #22242b;
    border-radius: 1em;
    min-height: .5em;
    min-width: 6em;

    highlight {
        border-radius: 1em;
    }
}

.if_down {
    color: #373b41;
}

.if_no-carrier {
    color: #ad705a;
}

.if_carrier {
    color: #6086a6;
}

.if_routable {
    color: #518a56;
}

.ns_fail {
    background-color: #ad705a;
}

.ns_ok {
    background-color: #518a56;
}

.notify_on {
    background-color: #6086a6;
}

.notify_off {
    background-color: #373b41;
}

.nf {
    font-family: Symbols Nerd Font;
}

.wifi_entry:hover {
    background-color: #222;
}

.wifi_entry, .activities {
    border-radius: 1em;
    padding: 0em;
}

.workspace {
    background-color: #222;
    border-radius: 1em;
    color: #aaa;
    min-width: 1.4em;
    min-height: 1.4em;
    border-radius: 1em;
    font-size: 1em;

}

.workspace:hover {
    background-color: #555;
}

.urgent_mark {
    background-color: #a44;
}

.urgent {
    color: #f55;
}

.visible {
    color: #f0c674;
}


.cal_win {
    border-radius: 1.5em;

    .cal-in {
        padding: 0em .75em 0em .75em;
        color: #bfc9db;

        .cal {
            padding: .25em;

            :selected {
                color: #f0c674;
            }

            .header, .highlight {
                color: #a1bdce;
            }

            .button {
                color: #afbea2;
            }

            :indeterminate {
                color: #808890;
            }
        }
    }
}

.sys_text_sub {
    color: #bbc5d7;
}

.sys_text {
    font-weight: bold;
}

.sys_icon {
    font-size: 1.5em;
}

.sys_enlarge {
    margin: .5em;
}

.sys_button {
    margin: 0em;
}

.sys_text_box {
    margin-left: .5em;
    margin-right: .5em;
}

.sys_text_right {
    min-width: 2em;
}

.sys_icons {
    border-radius: 1em;
    background-color: #222;
}

.sys_win {
    border-radius: 2em;
    padding: 1em;
}

.sys_box {
    border-radius: 1em;
    margin: .2em;
    padding: .2em;
}

