[Unit]
Description=Polkit auth agent from Mate
After=sway.service

[Service]
Type=simple
ExecStart=/usr/lib/mate-polkit/polkit-mate-authentication-agent-1
