[Unit]
Description=Sway Nyaa daemon, the bar and more

[Service]
Type=simple
Environment=RUST_LOG=info
Environment=GTK_USE_PORTAL=0
Environment=GSK_RENDERER=cairo
Environment=GDK_BACKEND=wayland
ExecStart=/home/yuki/kek/swaynyaad/target/debug/swaynyaad
Restart=always

[Install]
WantedBy=sway-session.target
