[Unit]
Description=Sway Nyaa daemon, the bar and more

[Service]
Type=simple
Environment=RUST_LOG=info
Environment=GTK_USE_PORTAL=0
Environment=GSK_RENDERER=vulkan
ExecStart=/home/yuki/kek/swaynyaad/target/x86_64-unknown-linux-gnu/release/swaynyaad
Restart=always
MemoryHigh=64M
MemoryMax=64M

[Install]
WantedBy=sway-session.target
