[Unit]
Description=Sway, an i3-compatible Wayland compositor
Documentation=man:sway(1)
PropagatesStopTo=sway-session.target

[Service]
Type=simple
UnsetEnvironment=DISPLAY SWAYSOCK WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
ExecStart=/usr/bin/sway
